
.icon-book:before { content: '\e800'; } /* '' */
.icon-maletin:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-lista:before { content: '\e803'; } /* '' */
.icon-telefono2:before { content: '\e804'; } /* '' */
.icon-lista2:before { content: '\e805'; } /* '' */
.icon-agregar-usu:before { content: '\e806'; } /* '' */
.icon-user-delete:before { content: '\e807'; } /* '' */
.icon-eliminar:before { content: '\e808'; } /* '' */
.icon-actualizar:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-carpeta:before { content: '\e80b'; } /* '' */
.icon-celular:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-logout:before { content: '\e80e'; } /* '' */
.icon-tools:before { content: '\e80f'; } /* '' */
.icon-basket:before { content: '\e810'; } /* '' */
.icon-address-book:before { content: '\e811'; } /* '' */
.icon-ok:before { content: '\e812'; } /* '' */
.icon-th-list:before { content: '\e813'; } /* '' */
.icon-check:before { content: '\e814'; } /* '' */
.icon-edit-alt:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-lock:before { content: '\e817'; } /* '' */
.icon-inicio:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-users-1:before { content: '\f064'; } /* '' */
.icon-telefono:before { content: '\f098'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-sobre:before { content: '\f2b6'; } /* '' */
.icon-direccion:before { content: '\f2bb'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30e'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
